<div class="flex h-96 items-center justify-center w-full">
  <div class="flex flex-col items-center flex-grow pt-10">
    <h1 class="text-2xl font-thin uppercase pb-12">Hours</h1>
    <h3 class="text-lg font-thin uppercase">Mon–Wed 6–11</h3>
    <h3 class="text-lg font-thin uppercase">Thu–Sat 4–12</h3>
    <h3 class="text-lg font-thin uppercase">Thu–Sun 3–10</h3>
  </div>
  <div class="flex flex-col pt-10 items-center">
    <h1 class="text-5xl uppercasec uppercase">Juniper</h1>
    <h3 class="text-xl font-thin uppercase pt-20"></h3>
    <h1 class="text-xl font-thin uppercase">Made with Squarespace</h1>
  </div>
  <div class="flex flex-col items-center flex-grow pt-10">
    <h1 class="text-2xl font-thin uppercase pb-12">Hours</h1>
    <h3 class="text-lg font-thin uppercase">Mon–Wed 6–11</h3>
    <h3 class="text-lg font-thin uppercase">Thu–Sat 4–12</h3>
    <h3 class="text-lg font-thin uppercase">Thu–Sun 3–10</h3>
  </div>
</div>
