<div class="flex h-96 items-center justify-center w-full">
  <div class="flex flex-col items-center flex-grow pt-4">
    <h1 class="text-2xl font-thin uppercase pb-12">Horario</h1>
    <h3 class="text-lg font-thin uppercase">Lunes 6–11</h3>
    <h3 class="text-lg font-thin uppercase">Thu–Sat 4–12</h3>
    <h3 class="text-lg font-thin uppercase">Thu–Sun 3–10</h3>
  </div>
  <div class="flex flex-col pt-10 items-center">
    <h1 class="text-5xl uppercasec uppercase">Casamía</h1>
    <h1 class="text-xl font-thin uppercase"></h1>
    <h3 class="text-lg font-thin">
      <a href="https://twitter.com/yourusername">Twitter</a>
    </h3>
  </div>
  <div class="flex flex-col items-center flex-grow pt-10">
    <h1 class="text-2xl font-thin uppercase pb-12">Contacto</h1>
    <h3 class="text-lg font-thin">+53 7832-9735</h3>
    <h3 class="text-lg font-thin">info@casamiapaladar.com</h3>
    <h3 class="text-lg font-thin">info@casamiapaladar.com</h3>
  </div>
</div>
