<div
  class="fixed flex items-center justify-between w-full px-10 py-10 z-40 text-white"
>
  <div class="logo">
    <h2 class="text-3xl pl-8 uppercase font-thin">Juniper</h2>
  </div>

  <ul
    class="flex items-center justify-between space-x-4 text-xl pr-8 font-semibold font-mono"
  >
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</div>
